#folha {
    width: 595px;
    height: 600px;
    
    margin: auto;
    position:absolute;
}
#fotodeperfil {
    width: 220px;
    height: 270px;
    float: left;
    border: 1px solid black;
    box-shadow: 2px 3px 10px black;
    margin: 10px;
   

}
#nome {
    margin-top: 20px;
    margin-left: 40px;
    font-family: Arial;
    color: rgb(0, 255, 5);
    
}
#nasc {
   margin-top: -10px;
  margin-left: 280px;
 position: absolute;
 color:rgb(13, 255, 0) ;
}

.aba{
    position:absolute;
    margin-top: 250px;
    margin-left:30px;
    width:505px;
    color:rgb(13, 255, 0) ;
  }
  .aba h1{
    margin:0;
    font-size:25px; 
    color:rgb(13, 255, 0) ;
  }
  .sep{
    width:100%;
    height:1px;
    color:rgb(13, 255, 0) ;
    background:black
   


  }
  .dados{
    margin:0;
    font-family:Sans-serif;
    font-size: 16px;
  }
  .aba2{
    position:absolute;
    margin-top:410px;
    margin-left:30px;
    width:505px;
  }
  .aba2 h1{
    margin:0;
    font-size:25px;
  }
  .aba2 h3{
    margin:0;   }
    #folha2 {
        width:695px;
        height:600px;
        margin:auto;
        position: absolute;
      right: 50px;

      }
      .aba2{
        position:absolute;
        margin-top: -10px;
        margin-left:30px;
        width:505px;
      }
      .aba2 h1{
        margin:0;
        font-size:25px;
      }
      .aba2 h3{
        margin:0; 
      }
     
      #javascript 
      {  width: 60px;
        position: relative;
        left: 620px;
        top: 75px;
      }
      #github {
        width: 80px;
        position: relative;
        left: 720px;
        top: 90px;
      }
      #react {

        width: 60px;
        position: relative;
        left: 825px;
        top: 80px;
      }

#node {
  width: 110px;
  position: relative;
  left: 900px;
  top: 110px;
}








      #javascript1 {
        width: 60px;
        position: relative;
        left: 70px;
        top: 60px;
        color:rgb(13, 255, 0) ;
      }

      #github1 {
        width: 60px;
        position: relative;
        left: 240px;
        top: 40px;
        color:rgb(13, 255, 0) ;
      }
      #react1 {
        
        width: 60px;
        position: relative;
        left: 420px;
        top: 15px;
        color:rgb(13, 255, 0) ;

      }
      #node1 {
        width: 60px;
        position: relative;
        left: 610px;
        top: -5px;
        color:rgb(13, 255, 0) ;
        

      }

     




     body {
        background-color: black;
        background-size: 600px;
        background-position:650px;
       background-position-y: 240PX;
        background-repeat: no-repeat;
        background-image: url(mario.gif);

        display: flex;
        width: 100%;
      


       
      }

      #borda {
       border: 4px solid rgb(13, 255, 0) ;
        width: 1300px;
        height: 600px;
        border-radius: 10px;
      }
    

    @media screen and  (max-width: 768px) 
    {  body { width: 100%; flex-direction: column;}}
      
    